<div class="pf2e chat-card" data-heroic-crafting-progress="{{progressMade}}" data-project-uuid="{{projectUuid}}", data-actor="{{actor}}">
    <div class="card-buttons">
        {{#if progress}}
            <button type="button" data-action="progress-heroic-crafting-project" class="heroic-crafting-progress-chat-button">{{localize "PF2E-HEROIC-CRAFTING-AUTOMATION.CraftingResult.Progress" progress=progressMade}}</button>
        {{else}}
            <button type="button" data-action="ruin-heroic-crafting-project" class="heroic-crafting-progress-chat-button">{{localize "PF2E-HEROIC-CRAFTING-AUTOMATION.CraftingResult.Deduct" progress=progressMade}}</button>
        {{/if}}
    </div>

    <footer class="card-footer">
        <span>{{localize "PF2E-HEROIC-CRAFTING-AUTOMATION.CraftCard.Footer.PostCraft" overallCost=overallCost progressCost=progressCost rushCost=rushCost}}</span>
    </footer>
</div>